/* jumbotron */
.jumbotron {
    background-size: cover;
    height: 640px;
    margin-top: -98px;
}

/* search-bar*/
#myInput {
    background-image: url('../assets/images/image-blog/Search-23x23.png');
    background-position: 19px 12px; 
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'League Spartan';
    font-size: 19px;
    padding: 12px 20px 12px 65px;
    border: 1px solid #ddd; 
    margin-bottom: 12px;
}
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 
#myUL li a {
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(125, 125, 125);
    display: block;
    font-family: 'League Spartan';
    font-weight: bolder;
}
#myUL li a:hover:not(.header) {
    background-color: #eee;
}

/* image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* info-panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: white;
    padding: 30px;
    margin-top: -100px;
}
.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}

/* workspace */
.workspace {
    margin-top: 120px;
    text-align: center;
}
.workspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}
.workspace h3 span {
    font-weight: 500;
}
.workspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}

