/* Navbar */
.navbar-brand {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

.nav-link {
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    font-size: large;
}

/* Atas Navbar */
/* .atas {
    background-color: #3F6FF5;
    padding-bottom: 17px;
    padding-top: 10px;
    color: white;
} */

@media (min-width: 992px) {
    .nav-link {
        color: black !important;
        /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); */
    }



    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -98px;
    }

    .workspace {
        text-align: left;
    }

    .testimoni h5 {
        font-size: 32px;
    }
}